body {
  background-color: grey;
}

.row{
  column-count: 3;
  text-align: center;
}

.colHeader{
  background-color: aquamarine;
}

.playerRow {
  background-color: azure;
  border-color: grey;
  border-width: 1px;
  border-style: solid;

}

.mainHeader {
  text-align: center;
  background-color: aqua;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.topLevel {
  background-color: beige;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
}
